<h2>Présentations</h2>
<h4>News</h4>
<div style="border: 1px blue solid ;width: 30%;background-color: rgba(230, 225, 185, 0.884);" (click)="verification()">

    <p style="cursor: grab;">Quoi de neuf ?</p>
</div>
<div style="border: 3px rgb(0, 183, 255) solid;background-color: rgb(184, 150, 13);" *ngIf="verif">
    <h3>Interview de DJ Luc </h3>
    <p>Via les réseaux sociaux, tout le monde devient pareil. Tout le monde veut
         écouter la même musique, s’habiller pareil, être cool. Les gens à Las Vegas voient 
         comment se passe la fête à Ibiza, et ils veulent la même chose chez eux.
          Mais tu ne peux pas tout copier. Chaque lieu à sa propre énergie,
           son propre esprit unique. Chaque lieu à sa propre culture, son histoire et ses fêtards. Tu ne peux pas prendre Ibiza et le transporter à Miami. Pour ma part, je ne veux pas être un produit vendu à la masse. Je choisi les endroits où je veux jouer, les titres que je veux jouer, les artistes que je veux signer sur mon label. Je suis certes très connu, mais je n’ai pas changé. A part peut-être mon look, l’intérieur est resté le même. J’ai la même énergie et le même amour pour la musique. Je veux montrer aux jeunes ma façon de faire la fête. Je ne veux pas faire des événements avec des smartphones en l’air toute la nuit, des sets de 90 minutes… Ce n’est pas ça la fête pour moi.
    </p>
    <img id="avatar" src="../../../../assets/images/avatar.jpg" alt="personnage ">
</div>
<hr />



