
<p>{{texte}}</p>

<body>

	<hr>

    <div id="content">

	<div id="haut"></div>
	<div id="bas"></div>

	<div id="ciel"></div>

    
<div id="conteneur">
	<header>
		<h1>
			<h1>
                <style>
                    @import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');
                    </style> Samplife </h1>
		</h1>

		<h2 id="intro">Le partage de vos sons.</h2>
		
		<p></p>
    

			<ul>
				<li>Conserver vos sons </li>
				<li>Découvrir </li>
				<li>Télécharger</li>
				<li>Partager </li>
				<li>Aide</li>
				
			</ul>

		

	</header>
		

	
	<section class="ombre">

		<section class="but ombre">
				<h2>But <span class="bdc">de </span> <span class="vert">l'app </span></h2>

				<div class="rectangle ombre">
					<h2 class="rouge">Conserver</h2>
					<p>Stocker vos fichiers musicaux sur un serveur externe.</p>
				</div>

				<div class="rectangle ombre">
					<h2 class="vert">Découvrir</h2>
					<p>Pour les sound designer, trouver des sons facilement, et gratuit.</p>
				</div>

				<div class="rectangle ombre">
					<h2 class="orange">Télécharger les sons!</h2>
					<p>oui parce que trouver des sons , c'est bien,.. les obtenir c'est mieux</p>
				</div>

				<div class="rectangle ombre">
					<h2 class="bleu">Partager</h2>
					<p>Echanger activement des fichiers sonores avec une communauté</p>
				</div>

		</section><!--

		--><section class="contenu ombre">
			<article id="art1">
				
				<h1> Pour quel public est votre appli ?</h1>
				<p>Créateurs musicaux ou designeurs sonores afin de faire découvrir leurs compositions, amateurs de MAO qui souhaitent enrichir leurs banques de données, possibilités de réutiliser les extraits , bruiteurs, créateurs de blogs </p>

				<p><img src="../../assets/images/music_piano.jpg" alt="about" class="flottantDroite"></p><p> 
				
				
			</article>	
			<article id="art2">
				
				<h1> Quelle réponse apporte votre appli ?</h1>
				<p>Amateurs de musique qui ne parviennent pas à produire un morceau complet. (mastering compliqué, manque d'inspiration, en attente de finalisation..)
					Banque de sons difficiles à trouver sur le net et souvent chères.
					Sauvegarder ses fichiers musicaux sur un support externe (réutilisables ailleurs)
					Développer la créativité et encourager les designers à exposer leur travail.  </p>
	
				
				
				
			</article>
		</section>
		
		


		
			


	
	
	</section>
	
	<footer class="ombre">
		© Oli Technobel
	</footer>

</div>
</div>

</body>


<router-outlet></router-outlet>
