ul{
list-style-type:none ;
font-weight: bold;
padding: 0;
}

ul li{
    padding-left: 10px;
    padding-top: 10px;
}

a{
    font-size: 15px;
    text-decoration: none;
}

a:hover{
    text-decoration:navy underline;
    color: saddlebrown;
}

.parent {text-decoration: underline;}




